In [1]:
#Description: This program predicts the price of Coca-Cola (KO) stock for a specific day using ML algorithms

In [2]:
#import lib
from sklearn.svm import SVR
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [3]:
df = pd.read_csv('KO_Stock.csv')
#show the data
df

     Date       Open       High        Low      Close  Adj Close      Volume
0       1  56.000000  56.980000  56.000000  56.700001  54.823887    17735400
1       2  56.849998  56.950001  56.610001  56.820000  54.939919    10234100
2       3  56.869999  57.150002  56.799999  56.939999  55.055946    14264300
3       4  56.849998  57.250000  56.570000  57.169998  55.278336    11968900
4       5  57.250000  57.639999  57.180000  57.610001  55.703781    12869600
..    ...        ...        ...        ...        ...        ...         ...
250   251  50.040001  50.369999  49.759998  50.110001  50.110001    18538700
251   252  49.980000  50.360001  49.950001  50.160000  50.160000    18864100
252   253  50.160000  50.180000  49.220001  49.230000  49.230000    34262400
253   254  49.154999  49.189999  48.711399  48.724998  48.724998     5433374
254   255  49.160000  49.180000  48.530000  48.700000  48.700000  24.358.000

[255 rows x 7 columns]

In [4]:
#Show the last row of data
actual_price = df.tail(1)
#Show the data
actual_price

     Date   Open   High    Low  Close  Adj Close      Volume
254   255  49.16  49.18  48.53   48.7       48.7  24.358.000

In [5]:
#Get all of the data except the last row
df = df.head(len(df)-1)
#show
df

     Date       Open       High        Low      Close  Adj Close    Volume
0       1  56.000000  56.980000  56.000000  56.700001  54.823887  17735400
1       2  56.849998  56.950001  56.610001  56.820000  54.939919  10234100
2       3  56.869999  57.150002  56.799999  56.939999  55.055946  14264300
3       4  56.849998  57.250000  56.570000  57.169998  55.278336  11968900
4       5  57.250000  57.639999  57.180000  57.610001  55.703781  12869600
..    ...        ...        ...        ...        ...        ...       ...
249   250  50.619999  50.860001  49.950001  50.200001  50.200001  19310600
250   251  50.040001  50.369999  49.759998  50.110001  50.110001  18538700
251   252  49.980000  50.360001  49.950001  50.160000  50.160000  18864100
252   253  50.160000  50.180000  49.220001  49.230000  49.230000  34262400
253   254  49.154999  49.189999  48.711399  48.724998  48.724998   5433374

[254 rows x 7 columns]

In [6]:
# Create empty list 
days = list()
adj_close_prices = list()

In [7]:
#Get only the date and the adjusted close prices
df_days = df.loc[:,'Date']
#show
df_days

df_adj_close = df.loc[:,'Adj Close']
#show
df_adj_close

0      54.823887
1      54.939919
2      55.055946
3      55.278336
4      55.703781
         ...
249    50.200001
250    50.110001
251    50.160000
252    49.230000
253    48.724998
Name: Adj Close, Length: 254, dtype: float64

In [8]:
# Create the independent data set (dates)
for day in df_days:
    days.append([int(day)])
# Create the dependent data set (adj close prices)
for adj_close_price in df_adj_close:
    adj_close_prices.append(float(adj_close_price))

In [9]:
#Show the days
days

[[1],
 [2],
 [3],
 [4],
 [5],
 [6],
 [7],
 [8],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15],
 [16],
 [17],
 [18],
 [19],
 [20],
 [21],
 [22],
 [23],
 [24],
 [25],
 [26],
 [27],
 [28],
 [29],
 [30],
 [31],
 [32],
 [33],
 [34],
 [35],
 [36],
 [37],
 [38],
 [39],
 [40],
 [41],
 [42],
 [43],
 [44],
 [45],
 [46],
 [47],
 [48],
 [49],
 [50],
 [51],
 [52],
 [53],
 [54],
 [55],
 [56],
 [57],
 [58],
 [59],
 [60],
 [61],
 [62],
 [63],
 [64],
 [65],
 [66],
 [67],
 [68],
 [69],
 [70],
 [71],
 [72],
 [73],
 [74],
 [75],
 [76],
 [77],
 [78],
 [79],
 [80],
 [81],
 [82],
 [83],
 [84],
 [85],
 [86],
 [87],
 [88],
 [89],
 [90],
 [91],
 [92],
 [93],
 [94],
 [95],
 [96],
 [97],
 [98],
 [99],
 [100],
 [101],
 [102],
 [103],
 [104],
 [105],
 [106],
 [107],
 [108],
 [109],
 [110],
 [111],
 [112],
 [113],
 [114],
 [115],
 [116],
 [117],
 [118],
 [119],
 [120],
 [121],
 [122],
 [123],
 [124],
 [125],
 [126],
 [127],
 [128],
 [129],
 [130],
 [131],
 [132],
 [133],
 [134],
 [135],
 [136],
 [137],
 [138],
 [139],
 [140],
 [141],
 [142],
 [143],
 [144],
 [145],
 [146],
 [147],
 [148],
 [149],
 [150],
 [151],
 [152],
 [153],
 [154],
 [155],
 [156],
 [157],
 [158],
 [159],
 [160],
 [161],
 [162],
 [163],
 [164],
 [165],
 [166],
 [167],
 [168],
 [169],
 [170],
 [171],
 [172],
 [173],
 [174],
 [175],
 [176],
 [177],
 [178],
 [179],
 [180],
 [181],
 [182],
 [183],
 [184],
 [185],
 [186],
 [187],
 [188],
 [189],
 [190],
 [191],
 [192],
 [193],
 [194],
 [195],
 [196],
 [197],
 [198],
 [199],
 [200],
 [201],
 [202],
 [203],
 [204],
 [205],
 [206],
 [207],
 [208],
 [209],
 [210],
 [211],
 [212],
 [213],
 [214],
 [215],
 [216],
 [217],
 [218],
 [219],
 [220],
 [221],
 [222],
 [223],
 [224],
 [225],
 [226],
 [227],
 [228],
 [229],
 [230],
 [231],
 [232],
 [233],
 [234],
 [235],
 [236],
 [237],
 [238],
 [239],
 [240],
 [241],
 [242],
 [243],
 [244],
 [245],
 [246],
 [247],
 [248],
 [249],
 [250],
 [251],
 [252],
 [253],
 [254]]

In [10]:
#Show the adj close prices
adj_close_prices

[54.823887,
 54.939918999999996,
 55.055946,
 55.278335999999996,
 55.703781000000006,
 55.916504,
 55.771457999999996,
 55.578079,
 55.123631,
 55.123631,
 56.912415,
 56.46764,
 56.641681999999996,
 56.893078,
 56.902747999999995,
 57.03811999999999,
 57.231494999999995,
 57.772968000000006,
 57.618263,
 57.444218000000006,
 57.6376,
 57.966354,
 57.560249,
 57.792308999999996,
 57.743965,
 58.1404,
 56.70936999999999,
 55.906826,
 55.694111,
 53.11245699999999,
 51.720104,
 54.069697999999995,
 54.20506700000001,
 56.970428000000005,
 54.862564,
 53.431538,
 50.144034999999995,
 51.884476,
 50.482456,
 45.599552,
 47.277225,
 44.146214,
 46.01897,
 43.746311,
 40.800629,
 37.357494,
 36.635704,
 38.479195000000004,
 40.586040000000004,
 43.200092,
 41.756512,
 43.892616,
 43.161076,
 41.083488,
 42.868454,
 42.751411,
 45.521522999999995,
 45.365456,
 46.643219,
 47.794182,
 45.775124,
 47.716152,
 46.438389,
 45.940940999999995,
 46.877319,
 45.38496,
 44.263268,
 44.555884999999996,
 43.960892,
 44.312034999999995,
 45.628811,
 45.589802,
 45.960445,
 44.760712,
 44.477848,
 44.029167,
 44.282776,
 43.648769,
 43.502457,
 44.975304,
 44.419331,
 43.717048999999996,
 42.8587,
 42.624611,
 42.195434999999996,
 43.863358000000005,
 43.443939,
 44.760712,
 44.05843,
 43.921875,
 44.955795,
 45.580044,
 45.931183000000004,
 45.531273,
 45.833645000000004,
 45.745865,
 46.721252,
 46.740753000000005,
 47.881969,
 48.623264,
 47.794182,
 47.423534000000004,
 44.419331,
 44.881927000000005,
 45.570904,
 46.033504,
 45.846497,
 46.250042,
 45.295315,
 45.019721999999994,
 44.921295,
 43.946888,
 44.222477000000005,
 42.883896,
 43.661457,
 43.976414,
 44.114212,
 44.173266999999996,
 44.517757,
 44.498065999999994,
 44.360275,
 43.218544,
 44.439018,
 44.537440999999994,
 45.147675,
 45.669331,
 45.423266999999996,
 46.082718,
 45.393738,
 46.456734000000004,
 47.716576,
 47.519726,
 47.726421,
 47.716576,
 47.421299,
 47.263821,
 46.939014,
 46.496105,
 45.570904,
 45.954762,
 46.476418,
 46.732323,
 47.047283,
 46.968544,
 47.17524,
 47.667362,
 47.618153,
 47.687046,
 47.450829,
 47.65752,
 46.624054,
 46.60437,
 46.535472999999996,
 47.214607,
 47.155552,
 47.401615,
 47.470512,
 49.045319,
 48.750042,
 48.346497,
 50.3839,
 49.685081,
 50.236263,
 49.025635,
 49.399646999999995,
 49.212639,
 50.255951,
 50.315478999999996,
 50.652836,
 50.394859000000004,
 50.156727000000004,
 50.057507,
 48.708084,
 49.273651,
 47.83493,
 48.321121000000005,
 48.340965000000004,
 48.896606,
 48.539406,
 48.985904999999995,
 48.797385999999996,
 48.975986,
 48.995831,
 48.55925,
 49.174431,
 50.067425,
 50.414703,
 50.692524,
 49.829296,
 49.730072,
 49.601085999999995,
 49.64077,
 49.233959000000006,
 49.859058000000005,
 49.601085999999995,
 50.285717,
 50.126961,
 49.41256,
 49.511784000000006,
 47.586876000000004,
 47.646408,
 47.6861,
 48.241741,
 48.966060999999996,
 48.787459999999996,
 49.055359,
 49.065284999999996,
 52.161011,
 53.56004,
 53.163155,
 52.597588,
 53.034164000000004,
 53.431049,
 53.262375,
 52.200699,
 52.71665600000001,
 52.260231,
 52.270157,
 52.80595400000001,
 52.518211,
 52.290001000000004,
 51.599998,
 52.040001000000004,
 52.110001000000004,
 52.779999,
 53.849998,
 52.990002000000004,
 53.18,
 53.330002,
 53.049999,
 53.349998,
 53.27,
 53.84,
 53.060001,
 53.27,
 53.740002000000004,
 52.810001,
 52.759997999999996,
 53.080002,
 53.439999,
 54.16,
 54.130001,
 54.439999,
 54.84,
 52.759997999999996,
 52.18,
 50.52,
 49.959998999999996,
 51.080002,
 50.200001,
 50.110001000000004,
 50.16,
 49.23,
 48.724998]

In [11]:
#Create 3 models
lin_svr = SVR(kernel='linear', C = 1000.0)

In [ ]:
lin_svr.fit(days,adj_close_prices)

In [ ]:

poly_svr = SVR(kernel='poly', C = 1000.0, degree=2)

In [ ]:
poly_svr.fit(days,adj_close_prices)

In [ ]:

rbf_svr = SVR(kernel='rbf', C = 1000.0, gamma=0.85)

In [ ]:
lin_svr.fit(days,adj_close_prices)